.works_header {
  height: 100px;
  position: relative;
}

.worksTitle {
  padding: 0;
  margin-bottom: 40px;

  &_cont {
    text-align: center;
  }

  &_category {
    font-family: 'Permanent Marker';
    margin-bottom: 20px;
    p {
      font-size: 30px;
    }
  }

  &_title {
    font-family: 'ヒラギノ角ゴシック';

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

.pics {
  margin: 0;
  padding: 0;
}

.work_slick-box {
  margin: auto;
  padding-top: 40px;
  img {
    max-height: 700px;
    margin: auto;
  }
}

.txt {
  width: 500px;
  margin: auto;
  font-size: 14px;
  color: #000;
  line-height: 2;
  letter-spacing: 100;
  padding-top: 40px;
  margin-bottom: 50px;
}

.etc {
  padding: 100px 0;

  &_inner {
    padding: 20px 0;
    position: relative;
    width: 100%;
    background-color: #f0f0f0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 180px;
      display: block;
    }

    &::before {
      top: -180px;
      background: linear-gradient(to bottom right, rgba(255,255,255,0) 50%, #f0f0f0 50.5%) no-repeat top left/100% 100%;
    }

    &::after {
      bottom: -180px;
      background: linear-gradient(to top left, rgba(255,255,255,0) 50%, #f0f0f0 50.5%) no-repeat top left/100% 100%;
    }
  }

  &_title {
    font-size: 30px;
    text-align: center;
    font-family: 'Permanent Marker';
  }

  &_contents {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &_box {
    width: 50%;
    padding: 15px;
    position: relative;
    transition: .3s;
    img {
      background-color: #fff;
      width: 500px;
      height: 250px;
      object-fit: cover;
    }
  }
  &_txt {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #000;
    font-weight: 200;
    width: 60%;
    opacity: 0;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      margin-bottom: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  a{
    transition: .3s;
  }

  a:hover img {
    opacity: .3;
  }

  a:hover .etc_txt {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .back_btn {
    position: fixed;
    z-index: 100;
    &.btn_box {
      position: absolute;
      top: 20px;
      left: 25px;
    }

    a {
      span {
        width: 24px;
        height: 24px;
        display: block;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(45deg);
      }

      p {
        font-size: 12px;
        color: #000;
        text-decoration: none;
        margin-top: 10px;
      }
    }
  }

  .worksTitle {
    &_category{
      p {
        font-size: 18px;
      }
    }

    &_title {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 18px;
      }
    }
  }

  .work_slick-box {
    img {
      margin: auto;
      padding-left: 20px;
    }
  }

  .txt {
    width: 75%;
    p {
      font-size: 14px;
      letter-spacing: 5px;
      line-height: 2;
    }
  }

  .etc {
    padding: 100px 0;

    &_inner {
      padding: 20px 0;
      position: relative;
      width: 100%;
      background-color: #f0f0f0;

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 180px;
        display: block;
      }

      &::before {
        top: -88px;
        background: linear-gradient(to bottom right, rgba(255,255,255,0) 50%, #f0f0f0 50.5%) no-repeat top left/100% 49%;
      }

      &::after {
        bottom: -180px;
        background: linear-gradient(to top left, rgba(255,255,255,0) 50%, #f0f0f0 50.5%) no-repeat top left/100% 49%;
      }
    }

    &_contents {
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 10px;

      a {
        text-decoration: none;
      }
    }

    &_box {
      width: 50%;
      padding: 10px;
      img {
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }
    &_txt {
      position: static;
      width: 100%;
      color: #000;
      font-weight: 200;
      opacity: 1;

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      span {
        display: none;
      }
    }
  }
}

