.dailyUI {
  max-width: 800px;
  margin: 50px;

  &_title {
    font-style: 25px;
    color: #fff;
    background: #333;
    padding: 10px;
  }

  &_contents {
    border: 1px solid #333;

    li {
      border: 1px solid #333;
      padding: 10px;
    }
  }

  &_btn {
    color: #007bff;
    font-size: 14px;
    padding: 0px;

    &:hover {
      color: #007bff;
      border-bottom: 1px solid #007bff;
    }
  }

  &_container {
    img {
      margin: 10px 0;
    }

    span {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.1em;
    }

    p {
      font-size: 16px;
      font-weight: 800;
      margin-top: 20px;
    }
  }

  .modal-header {
    border-bottom: 2px solid #333;
  }
  .modal-content {
    border: 2px solid #333;
  }
  .close {
    color: #333;
  }
}