/* CSS outline -----------------------------------------------

  1.concept

/*------------------------------------------------------------

1.concept */

  .concept {
    margin: 120px 10%;

    &__body {
      font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', sans-serif;
    }

    &__text {
      display: inline-block;
      font-size: 16px;
      letter-spacing: .1em;
      line-height: 1.2;
    }
  }