/*------------------------------------------------------------

1.Nav */

.nav {
  position: fixed;
  top: 500px;
  right: 50px;
  z-index: 100;

  &_list {
    z-index: 100;
    display: flex;
    transform: rotate(90deg);
    transform-origin: top right;
  }

  &_item {
    a {
      margin-left: 30px;
      padding-bottom: 30px;
      border-bottom: solid .8px transparent;
      color: #000;
      font-size: 18px;
      font-family: 'Permanent Marker';
      text-decoration: none;
      transition: .3s;

      &:hover {
        border-bottom: solid .8px #000;
      }
    }
  }

  @media (max-width: 850px) {
    display: none;
  }
}
