$black: #183346;

.inukau {
  height: 100vh;

  &_menu {
    width: 15%;
    height: 100%;
    background: #c3d4de;
    position: fixed;
    left: 0;
    text-align: center;
    padding-top: 35px;

    img {
      width: 100px;
    }

    .form {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;

      a {
        width: 120px;
        height: 40px;
        background: #fff;
        border-radius: 3px;
        padding-top: 8px;
        text-decoration: none;
        color: $black;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        transition: .3s;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);

        &:hover {
          box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        }
      }
    }
  }

  &_top {
    height: 50vh;
    width: 85%;
    margin-left: 15%;
    background-image: url(../images/inukau/top_back1.gif);
    background-size: cover;
    color: #fff;
    padding: 40px;

    h1 {
      font-size: 25px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      letter-spacing: .2em;
    }
  }

  &_contents {
    width: 85%;
    height: 30vh;
    margin-left: 15%;
    display: flex;

    .want {
      width: 50%;
      background: #e8c778;
      padding-left: 40px;
      position: relative;
      transition: .3s;

      p {
        padding-top: 14vh;
        font-size: 16px;
        font-weight: 600;
        color: $black;
      }

      &_link {
        transition: .3s;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;

        p {
          padding-top: 14vh;

          i {
            font-size: 18px;
            color: $black;
          }
        }

        &:hover {
          background: #f7db97;
        }
      }
    }

    .have {
      width: 50%;
      background: #dfb69a;
      padding-left: 40px;
      position: relative;

      p {
        padding-top: 14vh;
        font-size: 16px;
        font-weight: 600;
        color: $black;
      }

      &_link {
        transition: .3s;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;

        p {
          padding-top: 14vh;

          i {
            font-size: 18px;
            color: $black;
          }
        }

        &:hover {
          background: #e6c3ac;
        }
      }
    }
  }

  &_about {
    width: 85%;
    height: 17vh;
    margin-left: 15%;
    background: $black;
    color: #dadfe3;
    padding: 3vh 40px 0 40px;
    overflow: scroll;

    h2 {
      font-size: 16px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .requirements {
    width: 85%;
    height: 3vh;
    margin-left: 15%;
    background: #424242;
    color: #adadad;
    font-size: 12px;
    padding-left: 40px;
  }
}