/* CSS outline -----------------------------------------------

  1.Common

/*------------------------------------------------------------

1.Common */

body {
  height: 100%;
  background-color: #fff;
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.title{
  font-weight: 800;
  color: transparent;
  font-size: 80px;
  background: url("../images/titleback.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  text-align:center;
  line-height: 90px;
  letter-spacing: -8px;
  font-family: 'Permanent Marker';

  &_box {
    width: 100%;
    margin-bottom: 40px;
  }

  @media (max-width: 850px) {
    &_box {
      width: auto;
      margin-bottom: 0;

      h2 {
        font-size: 30px;
        color: #000;
        margin-bottom: 15px;
      }

      p {
        font-size: 30px;
        color: #000;
        font-weight: 100;
        margin-bottom: 30px;
      }
    }
  }
}

.subtitle{
  font-size: 14px;
  color: #000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
}

.loader-bg {
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 110;
}

.slick-dots li button::before {
  font-size: 20px;
}

