.dog {
  margin: 0;
  padding: 0;
  background: url(img.jpg) center center fixed no-repeat;

  video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .move {
   height: 100vh;
   background: rgba(234,188,173, 0.7);
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  }

  .logo >:first-child {
    margin-right: auto;
  }

  .logo_img {
    display: flex;

    img {
      height: 70px;
    }

    .txt {
      margin: 12px 0 0 18px;
      color: #110B0A;

      h1 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 200;
      }

      p {
        margin-top: 8px;
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 100;
        line-height: 1.2;
      }
    }
  }

  .logo_link {
    margin-top: 25px;

    a {
      display: inline-block;
      margin-left: 10px;
      font-size: 14px;
      text-transform: none;
      color: #110B0A;
      font-weight: 200;
    }
  }

  .contentsDog {
    text-align: center;
    margin-top: 90px;
    padding: 40px;
    width: 500px;
    background: #F7E7DB;
    margin: auto;

    .have{
      position: relative;
      display: inline-block;
      font-size: 2em;
      margin: 30px;

      a {
        color: #110B0A;
        text-decoration: none;

        &:hover {
          color: #222F61;
        }
      }
    }

    .have:before{
      position: absolute;
      top: 1.3em;
      left: 0;
      content: "";
      display: inline-block;
      width: 0;
      height: 2px;
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      transition: 1s;
    }

    .have:hover:before{
      width: 100%;
    }

    .nohave{
      position: relative;
      display: inline-block;
      font-size: 2em;
      margin: 30px;

      a {
        color: #110B0A;
        text-decoration: none;

        &:hover {
          color: #222F61;
        }
      }
    }

    .nohave:before{
      position: absolute;
      top: 1.3em;
      left: 0;
      content: "";
      display: inline-block;
      width: 0;
      height: 2px;
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      transition: 1s;
    }

    .nohave:hover:before{
      width: 100%;
    }

    .shop{
      position: relative;
      display: inline-block;
      font-size: 2em;
      margin: 130px 0 30px 0;

      a {
        color: #110B0A;
        text-decoration: none;

        &:hover {
          color: #222F61;
        }
      }
    }

    .shop:before{
      position: absolute;
      top: 1.3em;
      left: 0;
      content: "";
      display: inline-block;
      width: 0;
      height: 2px;
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      transition: 1s;
    }

    .shop:hover:before{
      width: 100%;
    }
  }
}
