
.kanedai {
  .header {
    height: 35px;
    width: 100%;
    background: #fff;
    font-size: 12px;
    color: #7c808e;
    padding: 10px;

    &_list {
      float: right;
    }

    &_item {
      display: inline-block;
      margin-left: 10px;

      a {
        color: #7c808e;
      }
    }
  }

  .top {
    width: 100%;
    height: 320px;
    margin-bottom: 30px;
    text-align: center;

    &_bg {
      height: 100%;
      background: rgba(255,255,255,0.9);
    }

    &_logo {
      padding: 10px;
      padding-top: 50px;

      img {
        width: 275px;
      }

      +.dogCat {
        img {
          width: 95px;
        }
      }

      +.dennki {
        img {
          width: 35px;
        }
      }
    }

    &_menu {
      margin-top: 30px;
    }

    &_list {
      display: flex;
      justify-content: center;
    }

    &_item {
      margin: 0 25px;

      a {
        text-decoration: none;
        color: #1a274f;
        font-size: 16px;
        font-weight: 200;

        &:hover {
          animation: 2s ease infinite animation;
        }

        @keyframes animation {
          0% {
            transform: translate(0,0);
            color: #1a274f;
          }

          50% {
            transform: translate(0,8px);
            color: #379d75;
          }

          100% {
            transform: translate(0,0);
            color: #1a274f;
          }
        }
      }

      img {
        width: 43px;
      }
    }
  }

  .main {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("../images/aqua.jpg");

    &_bg {
      height: 100%;
      background: rgba(0,0,0,0.3);
    }

    &_box {
      width: 700px;
      margin: auto;
      padding-top: 100px;
    }

    &_title {
      font-size: 25px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 3px;
      padding: 30px 0;
      text-shadow: 2px 2px 5px rgba(0,0,0,1);
    }

    &_txt {
      font-size: 14px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 25px;
      text-shadow: 2px 2px 5px rgba(0,0,0,1);
    }
  }

  .new {
    display: flex;
    justify-content: center;
    padding: 60px 0;

    &Article {
      width: 300px;
      height: auto;
      margin: 0 30px;

      a {
        text-decoration: none;
        transition: .3s;

        &:hover {
          opacity: .8;
        }
      }

      img {
        background-size: cover;
        width: 300px;
        height: 150px;
      }

      &_date {
        font-size: 12px;
        color: #1a274f;
        margin-bottom: 10px;
        font-weight: 200;
      }

      &_title {
        font-size: 16px;
        color: #1a274f;
        letter-spacing: 2.5px;
        line-height: 25px;
        margin: 20px 0;
        font-weight: 200;
      }

      &_txt {
        font-size: 14px;
        color: #1a274f;
        letter-spacing: 2.5px;
        line-height: 25px;
        font-weight: 200;
      }
    }
  }

  .contents {
    width: 100%;
    background-image: url("../images/back.png");

    &_bg {
      height: 100%;
      background: rgba(255,255,255,0.9);
      padding: 60px 0;
    }

    &_title {
      font-size: 25px;
      letter-spacing: 3px;
      color: #379d75;
      text-align: center;
      font-weight: 200;
      margin-bottom: 30px;

      img {
        width: 110px;
        display: block;
        margin: auto;
        padding-top: 25px;
      }
    }

    &_txt {
      font-size: 14px;
      color: #1a274f;
      text-align: center;
      margin: auto;
      letter-spacing: 3px;
      font-weight: 200;
      line-height: 31px;
      width: 700px;
    }

    &Container {
      display: flex;
      justify-content: center;
      margin: 30px 0;

      &_wrap {
        width: 450px;
        margin: 35px;
      }

      &_title {
        font-size: 18px;
        letter-spacing: 3px;
        color: #1a274f;
        font-weight: 200;
        text-align: center;

        img {
          width: 37px;
          display: block;
          margin: auto;
          padding: 15px 0;
        }
      }

      &_box {
        font-size: 14px;
        letter-spacing: 3px;
        color: #1a274f;
        font-weight: 200;
        margin: 30px 0;

        a {
          display: flex;
          text-decoration: none;
          transition: .3s;

          &:hover {
            opacity: .5;
            color: #1a274f;
          }
        }
      }

      &_date {
        margin-right: 20px;
      }

      &_btn {
        a {
          text-decoration: none;
          height: 50px;
          width: 230px;
          background: #1a274f;
          border-radius: 80px;
          padding: 15px 0;
          display: block;
          margin: auto;
          text-align: center;
          font-size: 14px;

          &:hover {
            span {
              letter-spacing: 3px;
            }
          }
        }

        span {
          color: #fff;
          font-weight: 200;
          transition: .3s;
        }

        i {
          color: #fff;
          margin-left: 5px;
        }
      }
    }
  }

  .etc {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &Shop {
      width: 400px;

      &_title {
        font-size: 25px;
        color: #379d75;
        font-weight: 200;

        img {
          width: 110px;
          display: block;
          padding-top: 20px;
        }
      }

      &_container {
        display: flex;
        margin-top: 30px;
      }

      &_list {
        margin-right: 50px;
      }

      &_item {
        font-size: 14px;
        color: #1a274f;
        font-weight: 200;
        letter-spacing: 3px;
        margin: 20px 0;
      }
    }

    &Bnar {
      width: 700px;

      img {
        margin: 10px;
      }
    }
  }

  .footer {
    height: 250px;
    width: 100%;
    background-image: url("../images/back.png");
    padding: 0;

    &_bg {
      height: 100%;
      background: rgba(255,255,255,0.9);
      padding: 60px 0;
    }

    &_list {
      text-align: center;
    }

    &_item {
      display: inline-block;
      font-size: 14px;
      font-weight: 200;
      color: #1a274f;
      margin: 0 20px;
    }
    a {
      text-decoration: none;
    }

    &_copylight {
      font-size: 12px;
      font-weight: 200;
      color: #1a274f;
      margin-top: 100px;
      text-align: center;
    }
  }

}