.dow {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-family: 'Slabo 27px', serif;
  color: #575757;

  &_contents {

    .cat {
      display: flex;
      margin: 30px;
      justify-content: center;

      &_img {
        img {
          width: 400px;
        }
      }

      &_txt {
        margin-left: 30px;

        h1 {
          font-size: 28px;
          font-weight: 800;
        }

        span {
          font-size: 12px;
          font-weight: 400;
          display: inline-block;
          margin-bottom: 10px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 100;
          line-height: 1.5;
        }
      }
    }
  }

  .new {
    display: block;
    text-align: center;

    h2 {
      font-size: 18px;
      font-weight: 800;
    }

    &_contents {
      display: flex;
      justify-content: center;
      margin: 30px 15px;

      &_one {
        width: 30%;
        margin: 0 15px;

        &:hover {
          animation: 2s ease infinite animation;

          img {
            opacity: 0.8;
          }
        }

        @keyframes animation {
          100% {
            transform: translate(0,0);
            color: #30cfd0;
          }

          50% {
            transform: translate(0,8px);
            color: #330867;
          }

          0% {
            transform: translate(0,0);
            color: #30cfd0;
          }
        }

        img {
          width: 300px;
        }

        .new_txt {
          margin: 15px 0;

          p {
            font-size: 16px;
            margin-bottom: 10px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .growth {
    text-align: center;

    h2 {
      font-size: 18px;
      font-weight: 800;
    }

    &_day {
      position: relative;
      margin: 30px;
    }

    .diary_one {
      img {
        padding: 0 15px;
      }

      .txt {
        margin-top: 15px;

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }

        span {
          font-size: 14px;
        }
      }
    }

    .prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      z-index: 100;
      height: 60px;
      width: 60px;
      border: solid 1px #333;
      border-radius: 30px;
      padding-top: 24px;

      &:hover {
        left: 1px;
        transition: .5s;
        background: #30cfd0;
        opacity: 0.8;
        border: solid 1px #30cfd0;
        color: #fff;
      }
    }

    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      z-index: 99;
      height: 60px;
      width: 60px;
      border: solid 1px #333;
      border-radius: 30px;
      padding-top: 24px;

      &:hover {
        right: 1px;
        transition: .5s;
        background: #30cfd0;
        opacity: 0.8;
        border: solid 1px #30cfd0;
        color: #fff;
      }
    }
  }

  .goods {
    text-align: center;
    margin-top: 60px;
    height: 800px;
    overflow: hidden;

    h2 {
      font-size: 18px;
      font-weight: 700;
    }

    &_container {
      position: relative;
    }

    &_1 {
      position: absolute;
      top: 30px;
      left: 45%;

      img {
        width: 55%;
      }

      &:hover {
        transition: 2s;
        border: solid 1px #000;
      }
    }

    &_2 {
      position: absolute;
      top: 100px;
      left: 30px;

      img {
        width: 80%;
      }

      &:hover {
        transition: 2s;
        border: solid 1px #000;
      }
    }

    &_3 {
      position: absolute;
      top: 80px;
      right: 0px;

      img {
        width: 50%;
      }

      &:hover {
        transition: 2s;
        border: solid 1px #000;
      }
    }
  }
}
