#page-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  width: 500px;
  padding: 30px 0;
  display: block;
  color: #fff;

  p {
    float: right;
  }
}

.xx {
  height: 2200px;
  background: #000;

  h1 {
    font-size: 80px;
    text-align: center;
    color: #ACB6E5;
    padding-top: 300px;
  }
}

.background {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  background-position: center center;
  opacity: 0;
  background-size: cover;
  transition: all 0.5s ease 0s;
}
.show .background {
  opacity: 1;
}
.contents00 .wrap {
  padding: 40vh 0 60vh;
  position: relative;
  z-index: 2;
}
/* design*/
#content01_bg {background-image: url(../images/aqua.jpg);}
#content02_bg {background-image: url(../images/fish.jpg);}
#content03_bg {background-image: url(../images/sea.jpg);}
#content01 .wrap { background-color: rgba(255,0,0,0.2);}
#content02 .wrap { background-color: rgba(0,255,0,0.2);}
#content03 .wrap { background-color: rgba(0,0,255,0.2);}
.text-box {
  padding: 50px 25px;
  width: 480px;
  background-color: rgba(225,225,225,0.5);
  color: #000;
  border-radius: 0 50px 50px 0;
  font-family: 'Gaegu', cursive;
}
.text-box .catch {
  margin: 0 0 10px;
  font-size: 40px;
}
.text-box .copy {
  margin: 0;
  line-height: 2;
}
