.marimo {
  font-family: "M PLUS Rounded 1c";

  header {
    height: 15px;
    width: 100%;
    background: #333333;
    padding: 0 10px;

    p {
      color: #fff;
      font-size: 12px;
    }
  }

  .header {
    height: 40px;
    width: 100%;

    h1 {
      font-size: 18px;
      text-align: center;
      color: #1864ff;
    }

    &_menu {
      ul {
        display: flex;
      }
      
      a {
        font-size: 14px;
        color: #333333;

        &:hover {
          color: #1864ff;
        }
      }
    }
  }
}